<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Students</h4>
                        <p class="card-text" id="paragraph">Simple Query to database to show all students</p>
                        <a class="btn btn-primary" id="show-btn" href="/students">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Grades</h4>
                        <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Create Student</h4>
                        <p class="card-text" id="paragraph">Enter a new student into the database<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/student-creation-page">Create</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="row-2">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Best Dribbling Grade</h4>
                        <p class="card-text" id="paragraph">The best Dribbling grade is <%= best_dribbling_grade %> and belongs to <%= best_dribbler %>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Best Shooting Grade</h4>
                        <p class="card-text" id="paragraph">The best Shooting grade is <%= best_shooting_grade %> and belongs to <%= best_shooter %>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false
            };
            /* In order to access variables sent to ejs file to script you must Parse them to string */
            /* then to parse them back to JSON */
            let messages = '<%- JSON.stringify(messages) %>';
            messages = JSON.parse(messages);
            messages.forEach(({
                type,
                value
            }) => {
                switch (type) {
                    case 'error':
                        toastr.error(value)
                        break;
                    case 'success':
                        toastr.success(value)
                        break;
                    case 'warning':
                        toastr.warning(value)
                        break;
                    default:
                        toastr.info(value)
                        break;
                }
            });
        })
    </script>

</body>

</html>