<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Students</h4>
                        <p class="card-text" id="paragraph">Simple Query to database to show all students</p>
                        <a class="btn btn-primary" id="show-btn" href="/students">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Grades</h4>
                        <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="row-2">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Best Dribbling Grade</h4>
                        <p class="card-text" id="paragraph">The best Dribbling grade is <%= best_dribbling_grade %> and belongs to <%= best_dribbler %>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Best Shooting Grade</h4>
                        <p class="card-text" id="paragraph">The best Shooting grade is <%= best_shooting_grade %> and belongs to <%= best_shooter %>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>